

ul{
  list-style: none;
  color: black;
  padding: 20px;
}

#pokemon-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  grid-gap: 10px;
}

.pokemon-list-item{
  display: grid;
  height: 250px;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 30px;
  justify-content: center;
  border: 2px solid gray;
  border-style: inset;
}

#pokedex{
  background-color: red;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

.pokeball{
  width:50px;
}

