<div id="pokedex">
  <ul id="pokemon-list">
    <li *ngFor="let pokemon of pokemons">
      <div id={{pokemon.id}} class="pokemon-list-item">
        <img src="{{pokemon.pictureUrl}}" alt="pokemon picture">
        <span>{{pokemon.name}}</span>
        <ng-template [ngIf]="!catch">
          <div>
            <button (click)="addPokemon(pokemon.name)">CatchMe</button>
            <div *ngFor="let caughtPoke of caughtPokemon">
              <div *ngIf="caughtPoke.name === pokemon.name">
                <img class="pokeball" src="../../../../assets/pokeball.png">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="catch"> <button (click)="removePokemon(pokemon.name)">RemoveMe</button></ng-template>
      </div>
    </li>
  </ul>
</div>