
<fieldset>
  <form #loginNgForm="ngForm" (ngSubmit)="handleOnSubmit(loginNgForm)">
    <h3>Login</h3>
    
    <label for="username"></label>
    <input id="userName" #username="ngModel" ngModel name="username" type="text" placeholder="username" required minlength="3">

    <div *ngIf="username.errors && (username.dirty || username.touched)">
      <p *ngIf="username.errors?.['required']"> Username is required</p>
      <p *ngIf="username.errors?.['minlength']"> Username needs to be more than 2 characters</p>
    </div>


    <button type="submit" [disabled]="loginNgForm.form.invalid">Submit</button>
  </form>




</fieldset>
