button{
    color: purple;
    width: 100px;
    border: 2px solid black;
    background-color: orange;
    justify-self: center;
    margin: auto;
    height: 25px;
    display: grid;
    margin-top: 5px;
}

button:hover{
    opacity: 75%;
  }
  
button:active{
    opacity: 50%;
  }
  
h1{
    text-align: center;
}