nav{
  background-color: burlywood;
  height: 5em;
  display: flex;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  
}

a{
  width: 100px;
  border: 2px solid black;
  background-color: orange;
  justify-self: center;
  margin: auto;
}

a:hover{
  opacity: 75%;
}

a:active{
  opacity: 50%;
}


body{
  background-color: aqua;
}

