<p *ngIf="loading"> Loading pokemon...</p>
<h2>This Pokedex contains all the pokemons we know of, you gotta catch them all!</h2>
<h1>Catalogue</h1>
<app-pokemon-list [pokemons]="pokemons" [catch]="false"> </app-pokemon-list>